.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.photoCard {
    list-style: none;
    font-size: 2rem;
    text-align:center;
}

.photo {
    border-radius: 10px;
    background-color: azure;
}

.photoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

.photoContainer {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.col {
    max-width:400px;
    margin: 15px;
    height:auto;
    height:80%;
}

.photoDetails {
    font-size: 2rem;
}

.firtItem {
    margin-top: 0;
}
